@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotateAround {
  0% { transform: rotate(0deg) translateX(250px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
.rotating-object {
  animation: rotateAround 7s linear infinite;
  position: absolute;
}

.jenkins-container {
  display: flex;
  align-items: center;
  justify-content: center;
}